@using ChildCare.Models;
@model UserPO
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div input align="center">
    <h2>Register</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="form-horizontal">

            <label>*</label>@Html.LabelFor(model => Model.UserName)
            <div class="form-group">
                @Html.TextBoxFor(model => Model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.UserName, "", new { @class = "text-danger" })
            </div>

            <label>*</label>@Html.LabelFor(model => Model.Password)
            <div class="form-group">
                @Html.PasswordFor(model => Model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.Password, "", new { @class = "text-danger" })
            </div>

            <label>*</label>@Html.LabelFor(model => Model.FirstName)
            <div class="form-group">
                @Html.TextBoxFor(model => Model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.FirstName, "", new { @class = "text-danger" })
            </div>

            <label>*</label>@Html.LabelFor(model => Model.LastName)
            <div class="form-group">
                @Html.TextBoxFor(model => Model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-warning" value="Register" />
            </div>
        </div>
    }
    <style>
        span.glyphicon {
            font-size: 25px;
        }
    </style>
    <script type="text/javascript">
        function confirmClick() {
            return confirm('Did you click on me?');
        }
    </script>
    </div>
  