@*@using ChildCare.Models;
@using ChildCare.ViewModels;*@
@model ChildCare.ViewModels.ChildVM

@{
    ViewBag.Title = "CreateAChild";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center">
    <h2>Create A Child</h2>
    <br />
    @using (Html.BeginForm("CreateAChild", "Child", FormMethod.Post))
    {
        @Html.DropDownListFor(model => Model.ChildForm.ParentID, Model.ParentDropDown, new { @class = "form-control" })
        <br />
        <label>*</label>@Html.LabelFor(model => Model.ChildForm.FirstName)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.ChildForm.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.ChildForm.FirstName, "", new { @class = "text-danger" })
        </div>

        <label>*</label> @Html.LabelFor(model => Model.ChildForm.LastName)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.ChildForm.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.ChildForm.LastName, "", new { @class = "text-danger" })
        </div>

        <label>*</label> @Html.LabelFor(model => Model.ChildForm.Age)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.ChildForm.Age, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.ChildForm.Age, "", new { @class = "text-danger" })
        </div>

        <label>*</label> @Html.LabelFor(model => Model.ChildForm.IsFemale)
        <div class="form-group">
            @Html.CheckBoxFor(model => model.ChildForm.IsFemale)
            @Html.ValidationMessageFor(model => Model.ChildForm.IsFemale, "", new { @class = "text-danger" })
        </div>

        <label>*</label>@Html.LabelFor(model => Model.ChildForm.IsPottyTrianed)
        <div class="form-group">
            @Html.CheckBoxFor(model => model.ChildForm.IsPottyTrianed)
            @Html.ValidationMessageFor(model => Model.ChildForm.IsPottyTrianed, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => Model.ChildForm.Allergies)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.ChildForm.Allergies, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.ChildForm.Allergies, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => Model.ChildForm.Medicine)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.ChildForm.Medicine, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.ChildForm.Medicine, "", new { @class = "text-danger" })
        </div>

        <label>*</label>@Html.LabelFor(model => Model.ChildForm.VaccinationsUpToDate)
        <div class="form-group">
            @Html.CheckBoxFor(model => Model.ChildForm.VaccinationsUpToDate)
            @Html.ValidationMessageFor(model => Model.ChildForm.VaccinationsUpToDate, "", new { @class = "text-danger" })
        </div>

        <label>*</label>@Html.LabelFor(model => Model.ChildForm.EmergencyContact)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.ChildForm.EmergencyContact, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.ChildForm.EmergencyContact, "", new { @class = "text-danger" })
        </div>

        <label>*</label>@Html.LabelFor(model => Model.ChildForm.EmergencyContactPhoneNumber)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.ChildForm.EmergencyContactPhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.ChildForm.EmergencyContactPhoneNumber, "", new { @class = "text-danger" })
        </div>

        <label>*</label>@Html.LabelFor(model => Model.ChildForm.AuthorizedPeopleForPickUp)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.ChildForm.AuthorizedPeopleForPickUp, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.ChildForm.AuthorizedPeopleForPickUp, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="submit" />
        </div>
    }
        </div>

